/* variables */
:root {
  --bg-white:#fff;
  --text: #fff;
  --bg-secon:#212121;
}

body{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* HEADER */
.header-row{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.header-row.scrolled {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .hamburger{
    display: none;
}

nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

nav a{
    font-size: 1rem;
    font-weight: 400;
    color: #212121;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: #28AE56;
}

/* BOTÃO NOVO */
.btn {
    cursor: pointer;
    background-color: #28AE56;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    color: #000;
}

.btn:hover {
    color: #212121;
    background-color: #28ae57af;
}

/* LOGO */
.logo img{
    width: 6rem;
}

/* BANNER */
.banner-main{
    position: relative;
    width: 100%;
    height: 750px;
}

.carousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel img.active {
    opacity: 1;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    background: rgba(59, 104, 181, 0.85);
    backdrop-filter: blur(6px);
    color: white;
    padding: 1rem; 
    border-radius: 10px;
    opacity: 1;
}

/* LOCATIONS */
.locations {
    margin: 5rem 0;
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background: #F4F6F9;
}

.icons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 400px;
}

.icon {
    background: #c71d3a;
    padding: 0.5rem;
    border-radius: 10px;
    width: 30px;
}

.icons span {
    margin: auto;
    padding-left: 0.6rem;
}

.icons strong{
    text-decoration: none;
    color: #212121;
    font-size: 1.3rem;
    transition: 0.3s;
}

.icons strong:hover{
    color: #28AE56;
    cursor: pointer;
}

/* CARDS */

.Cards{
   
    padding: 0rem 0 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Cards a{
    text-decoration: none;
}

.card{
    padding-bottom: 2rem;
    cursor: pointer;
    background-color: rgba(59, 104, 181, 0.80);
    border-radius: 12px;
    width: 280px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.description{
    padding: 0.3rem 1.3rem;
}

.description h3{
    color: #fff;
}

.description p{
    color: #fff;
}

/* ANIMAÇÃO */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(30px);
    transition: all 1s ease-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* CERTIFICADOS */
.Certificados{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 5rem 10%;
    background: #F4F6F9;
}

.certificado {
    display: flex;
    align-items: center;
    gap: 50px;
}

.certificado img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
}

.certificado .info {
    max-width: 500px;
}

.certificado .info h3 {
    font-size: 1.8rem;
    color: #212121;
}

.certificado .info p {
    font-size: 1.1rem;
    color: #555;
}

.certificado.reverse {
    flex-direction: row-reverse;
}

/* FOOTER */
footer {
    background-color: #1b1b1b;
    color: white;
    padding: 60px 10%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    align-items: baseline;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   /* flex: 1;
    min-width: 200px; */
}

.footer-column h3 {
    color: #28AE56;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}


.footer-column ul li{
    margin-top: 10px;
}

.footer-column a {
    color: #ccc;
    text-decoration: none;
}

.footer-column a:hover {
    color: #28AE56;
}

.logos-column img {
    width: 150px;
    margin-bottom: 0.5em;
}

/* MOBILE */
@media (max-width: 768px){


    h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
    color: #ffffff;
}



    .locations, .Cards, .certificado{
        height: auto;
        min-height: auto;
        flex-direction: column;
    }
    .header-row{
        display: flex;
        justify-content: space-around;
    }



    header .btn{
        display: none;

    }

    header .hamburger{
        width: 30px;
        display: block;
    }

    .nav-right{
        display: none;
    }

    .locations{
        padding: 5rem 0rem;
    } 
    .banner-main{
       height: 32rem
    }

    .banner-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;

    padding: 1rem;
    text-align: center;

    background: rgba(59, 104, 181, 0.85);
}   .banner-content h1{
    font-size: 1.5rem;
}
    .banner-content p{
        font-size: 0.8rem;
        color: white;
    }
    
    .icons {
        max-width: 100%;
        justify-content: center;
    }

    

    .card{
        width: 15.62rem;
        margin: 5rem;
    }

    .card h1{
         font-size: 1.5rem;
    }

    .card p{
        font-size: 0.9rem;
    }

    .certificado, .certificado.reverse{
        flex-direction: column;
        text-align: center;
    }
    
    .certificado img {
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 15px;

}   .nav-right {
    position: absolute;
    top: 81px;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.918);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 12px 12px;
}
    .nav-right a{
     color: #212121;
}

    nav a:nth-child(4){
    display:block ;
}


    .nav-right.active {
    display: flex;
}

    .icons {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .icons span {
    padding-left: 0;
    margin-top: 5px;
}

 .locations {
    margin: 0;
 }
}
